services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rust_pg_api
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"
  api:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/rust_pg_api
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db-data:
